 <nav id="Navbar1" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">AERIS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4, nav nav-underline">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link {{#if state.index}}active{{/if}}" aria-current="page" href="/">Home</a>
        <a class="nav-link {{#if state.shop}}active{{/if}}" href="/shop">Shop</a>
        <a class="nav-link {{#if state.products}}active{{/if}}" href="/products">products</a>
        <a class="nav-link {{#if state.contact}}active{{/if}}" href="/contact">Contact</a>
        <a class="nav-link {{#if state.about}}active{{/if}}" href="/about">About Us</a>
        <a class="nav-link {{#if state.login}}active{{/if}}" id="loginlogout" href="/login">Login</a>
        <a class="nav-link {{#if state.userdetails}}active{{/if}}" id="userdetails" href="/userdetails">Your Details</a>
        
      </div>
    </div>
  </div>
</nav>
              </ul>
                <a href="/checkout" style="text-decoration: none;">
        <button type="button">
         <span id="checkout" class="bi bi-cart" ></span>
        </button>
              </a>
          </div>
      </div>
  </nav>
        

{{!--                     <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Cart
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form> --}}


