<body>
<main>
<header class="py-5">
    <div class="container px-5 my-5 text-center">
        <div class="col-lg-8 col-xxl-6 mx-auto">
            
            <h1 class="fw-bolder text-body-emphasis mb-3">
                Our mission is to make people enjoy flying drones again with out cheapers prices.
            </h1>

            <p class="lead fw-normal text-body-secondary mb-4">
                Droene is all about smart solutions that make life easier. We focus on quality, innovation, and helping you get more done, effortlessly.
            </p>

            <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
        </div>
    </div>
</header>

    
</main>
<script src="/custom.js"></script>
<script src="/app.js"></script>
    
</body>
</html>