<body> 
<main class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">

      <div class="border rounded p-4 shadow-lg">
        <h1 class="display-1  text-primary mb-4">CHECKOUT.</h1>

        <form name="checkout" id="user-checkout" method="get">


          <fieldset class="mb-4">
            <legend class="h6 mb-3">Delivery Details</legend>

            <div class="mb-3">
              <label for="getFirstName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="getFirstName" name="firstname" value="Name" required>
            </div>

            <div class="mb-3">
              <label for="getLastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="getLastName" name="lastname" value="Last Name" required>
            </div>

            <div class="mb-3">
              <label for="getAddress1" class="form-label">Address Line 1</label>
              <input type="text" class="form-control" id="getAddress1" name="address1" value="address 1" required>
            </div>

            <div class="mb-3">
              <label for="getAddress2" class="form-label">Address Line 2</label>
              <input type="text" class="form-control" id="getAddress2" name="address2" value="address 2 (optional)">
            </div>

            <div class="mb-3">
              <label for="getAddress3" class="form-label">City / Town</label>
              <input type="text" class="form-control" id="getAddress3" name="address3" value="City" required>
            </div>
          </fieldset>

          <fieldset class="mb-4">
            <legend class="h6 mb-3">Payment Details</legend>

            <div class="mb-3">
              <label for="cardName" class="form-label">Name on Card</label>
              <input type="text" class="form-control" id="cardName" name="cardname" value="Full Name" required>
            </div>

            <div class="mb-3">
              <label for="cardNumber" class="form-label">Card Number</label>
              <input type="text" class="form-control" id="cardNumber" name="cardNumber" value="1234 5678 9102 3456" required>
            </div>

            <div class="mb-3">
              <label for="cardCvv" class="form-label">CVC</label>
              <input type="password" class="form-control" id="cardCvv" name="cardCvv" required>
            </div>
          </fieldset>
            <div id="payment-success" role="alert">
                    Thank you for your purchase. You will receive delivery details via email. Please return to our <a href="/shop">Shopping Page</a>.
                </div>
                <div  id="payment-failure" role="alert">
                  There seems to be a problem with the card details you entered.
                </div>                
                <div>
                    <input type='submit' class="btn btn-primary" id="buy-now" name="buy-now" value="Buy Now">
            </div>

        </form>

      </div>

    </div>
  </div>

  <div class="toast-container position-fixed top-0 end-0 p-3">
  <div id="paymentToast" class="toast rounded-4" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="rounded-3 toast-body bg-success text-white shadow-lg">
      Payment success: Enjoy Your Product
      <button type="button" class="float-end btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">
  <div id="paymentToastfail" class="toast rounded-4" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="rounded-3 toast-body bg-danger text-white shadow-lg">
      Payment Failed: Please check your card details!
      <button type="button" class="float-end btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>
 
</main>
<script src="/custom.js"></script>
<script src="/app.js"></script>
<script src="/checkout.js"></script> 

</body>