<html>
<body>
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">A New Drone</h1>
                                <p class="lead fw-normal text-white-50 mb-4">ffjfjfjfjfjfjfjfjfjfjfjfjfjfjfjfjjfjfjf</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                     <a href="/shop" class="btn btn-outline-secondary">Shop</a>
                                     <a href="/about" class="btn btn-outline-secondary">Our Products</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="images/p2.png" style="width:400px"; alt="DronePicture"/></div>
                    </div>
                </div>
            </header>
       
        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/app.js"></script>
        <script src="/custom.js"></script>
    </body>
</html>

