<html>
    <body>
        <h1 class="display-4 fw-bolder">Our Products</h1>

    <div class="container">
    <div >
      <h2>
        Product 1
      </h2>
      <div>
            <img src="images/p2.jpg"/>

            <a href="#" id="addtocart">Add to Cart</a>
      </div>


    <div>
      <h2>
        Product 1
      </h2>
      <div>
            <img src="images/p1.jpg"/>
            <a href="#"  id="addtocart">Add to Cart</a>
      </div>
    </div>
      
    <div class="controls">
      <label for="regionSelect">Select region:</label>
      <select id="regionSelect">
        <option value="all">All regions</option>
        <option value="Africa">Africa</option>
        <option value="Americas">Americas</option>
        <option value="Asia">Asia</option>
        <option value="Europe">Europe</option>
        <option value="Oceania">Oceania</option>
        <option value="Antarctic">Antarctic</option>
      </select>
    
</main>

        <script src="/app.js"></script>
        <script src="/custom.js"></script>
        <script src="/shop.js"></script>
        <script src="/Product.js"></script>

        
    </body>
</html>