<body>

        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center mb-5">
            <h1 class="display-1 text-dark mb-0">OUR COLLECTION.</h1>
            </div>

            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
                
                <div class="col mb-5">
                    <div class="bg-transparent card h-100 border-0">
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.7rem">Best Seller</div>
                        <img class="card-img-top shadow-lg" src="images/p2.png" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">Standard Drone</h5>
                                €199
                                <div class="">
                                   ★★★★★
                                </div>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-primary btn-lg px-5 py-3 fw-bold shadow-lg" id="addtocart" >Add to Cart</a></div>
                        </div>
                    </div>
                </div>

                <div class="col mb-5">
                    <div class="bg-transparent card h-100 border-0">
                        <img class="card-img-top" src="images/p2.png" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">Racing Drone</h5>
                                €225
                                <div class="">
                                   ★★★☆☆
                                 </div>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-primary btn-lg px-5 py-3 fw-bold shadow-lg" id="addtocart" >Add to Cart</a></div>
                        </div>
                    </div>
                </div>

                <div class="col mb-5">
                    <div class="bg-transparent card h-100 border-0">
                        <img class="card-img-top" src="images/p2.png" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">Mini Drone</h5>
                                €100
                                 <div class="">
                                   ★★★★★
                                </div>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-primary btn-lg px-5 py-3 fw-bold shadow-lg" id="addtocart" >Add to Cart</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
                
                <div class="col mb-5">
                    <div class="bg-transparent card h-100 border-0">
                        <img class="card-img-top" src="images/p2.png" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">Standard Drone</h5>
                                €199
                                <div class="">
                                   ★★★★☆
                                 </div>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-primary btn-lg px-5 py-3 fw-bold shadow-lg" id="addtocart" >Add to Cart</a></div>
                        </div>
                    </div>
                </div>
                

                <div class="col mb-5">
                    <div class="bg-transparent card h-100 border-0">
                        <img class="card-img-top" src="images/p2.png" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">Racing Drone</h5>
                                €225
                                <div class="">
                                   ★★★☆☆
                                 </div>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                           <div class="text-center"><a class="btn btn-primary btn-lg px-5 py-3 fw-bold shadow-lg" id="addtocart" >Add to Cart</a></div>
                        </div>
                    </div>
                </div>

                <div class="col mb-5">
                     <div class="bg-transparent card h-100 border-0">
                        <img class="card-img-top" src="images/p2.png" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">Mini Drone</h5>
                                €100
                                <div class="">
                                   ★★☆☆
                                 </div>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-primary btn-lg px-5 py-3 fw-bold shadow-lg" id="addtocart" >Add to Cart</a></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            
<div class="toast-container position-fixed top-0 end-0 p-3">
  <div id="liveToast" class="toast rounded-4" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="rounded-3 toast-body bg-success text-white shadow-lg">
      Product Added To Cart
      <button type="button" class="float-end btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<script src="/app.js"></script>
<script src="/custom.js"></script>
<script src="/shop.js"></script>
<script src="/Product.js"></script>
<script src="/checkout.js"></script>

        
</body>