<main>

<h1>Thank you</h1>
<p>The following details have been submitted</p>

<p>User email: {{formDetails.userEmail}}</p>
<p>User Name: {{formDetails.userName}}</p>
<p>User Comment: {{formDetails.userComment}}</p>

<p><a class="btn btn-dark" href="/">Return to home page</a></p>

</main>